// Team
.team
	.heading
		background $nube
		margin-bottom 2em

	&--descripcion
		padding 1em


	&--item
		figure
			border 1px solid $silver
			border-radius 10em
			display inline-block
			margin 0
			max-width 100px
			padding 4px
			overflow hidden
			img
				border-radius 10em

		&--contacto
			margin-bottom 3em
			color $silver
		&--titulo
			border-bottom 3px solid $color_8
			color $color_8
			padding 0.5em 0
			margin-top 0
			margin-bottom 0
			position relative



/*@media all and (min-width: 500px )
	.team
		&--item
			max-width 50%*/