// Diseño de grid personalizado

$columnas = 12
$gutter-width = 1%
$contenedor = 100%

// Contenedor de las columnas
.contenedor
	margin 1% auto
	max-width $contenedor
	padding 1%

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
	padding 0 $gutter-width

@media all and (min-width: 40em)
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
		flex 0 0 auto

	for $i in 1 ..$columnas
		.col-{$i}
			flex-basis ( $contenedor / $columnas ) * $i
			max-width ( $contenedor / $columnas ) * $i

	.fila
		display flex
		flex 0 1 auto
		flex-direction row
		flex-wrap wrap
		overflow hidden

	// Hacer las columnas que se muevan a la derecha
	for $i in 1 ..$columnas
		.col-nested-{$i}
			margin-left ( $contenedor / $columnas ) * $i
			margin-right 0
			float right