/*
 * # E-myth Framework
 */

// Utilidades generales
@import 'lib/nib'
@import 'lib/normalize'

// Estilos bases, mixins y funciones
@import '01. Base/02. Fonts'
@import '01. Base/03. Variables'
@import '01. Base/04. Main'
@import '01. Base/05. Mixins'
@import '01. Base/06. Base'
@import '01. Base/07. Iconos'
@import '01. Base/08. Headings'
@import '01. Base/09. Animaciones'

// Componentes reutilizables
@import '02. Componentes/01. Texto'
@import '02. Componentes/02. Imagenes'
@import '02. Componentes/03. Gotop'
@import '02. Componentes/04. Logotipo'
@import '02. Componentes/05. Menu'
@import '02. Componentes/06. Navegacion'
@import '02. Componentes/07. Botones'
@media only screen and (min-width: 480px)
	@import '02. Componentes/19. Fancybox'

@import '02. Componentes/09. Breadcrums'
@import '02. Componentes/10. Tablas'
@import '02. Componentes/11. Formularios'
@import '02. Componentes/12. Paginacion'
@import '02. Componentes/13. Listas'
@import '02. Componentes/14. Datepicker'
@import '02. Componentes/15. Slider'
// @import '02. Componentes/16. Slick'
// @import '02. Componentes/17. Slick-theme'
// @import '02. Componentes/18. Owl.carousel'

// Adicionales
@import '03. Adicionales/01. Contact Form 7 - styles'
@import '03. Adicionales/02. Contact Form 7 - styles-rtl'

// Secciones
// @import '04. Secciones/00. Cubo'
@import '04. Secciones/01. Productos'
// @import '04. Secciones/02. Contacto'
// @import '04. Secciones/03. Ubicacion'
// @import '04. Secciones/04. Blog' tiene un error
// @import '04. Secciones/05. Team'
@import '04. Secciones/06. Mensajes'
@import '04. Secciones/07. Footer'
@import '04. Secciones/08. Portfolio'
@import '04. Secciones/09. Sidebar'
@import '04. Secciones/10. Contenido'
@import '04. Secciones/11. Presentacion'