// Fuentes

/*@font-face
  font-family 'Fjord'
  font-style normal
  font-weight 400
  src url('fonts/fjord-one.eot')
  src url('fonts/fjord-one.eot') format('embedded-opentype'),
    url('fonts/fjord-one.woff') format('woff'),
    url('fonts/fjord-one.ttf') format('truetype'),
    url('fonts/fjord-one.svg#Fjord-One') format('svg')
*/

// Los íconos
@font-face
	font-family 'icono'
	font-style normal
	font-weight normal
	src url('fonts/icomoon/icomoon.eot?-9djqav')
	src url('fonts/icomoon/icomoon.eot?#iefix-9djqav') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-9djqav') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-9djqav') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-9djqav#icomoon') format('svg')