// VARIABLES DE COLORES Y FUENTES

// Soporte para versiones antiguas de IE (6, 7 y 8)
support-for-ie = true

// Valores típicos
$blanco_puro	= #fff
$blanco			= #eee
$nube			= #ecf0f1
$silver			= #bdc3c7
$silver_claro	= #ccc
$gris			= #aaa
$concreto		= #95a5a6
$gris_fuerte	= #7f8c8d
$negro_suave	= #888
$negro			= #555
$negro_puro		= #000

// Rojos y azul
$ladrillo		= #e74c3c
$google			= #c0392b
$azul			= #4285F4

// Paleta de Colores Villabrochero
$amarillo		= #E0BF12
$verde_claro	= #006553
$verde_medio	= #005043
$verde_oscuro	= #004134




// Familia de fuente principal
$baseFont = "Bookman Old Style", Garamond, Georgia, serif

// Familia de fuente para títulos
$baseHeadingFont = "Trebuchet MS", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Nombre de la fuente de iconos
$iconFont = 'icono'

// Color base del texto
$fontColor = $negro

// Tamaño base del texto en px. Será convertido automáticamente a em (ver base.styl)
$fontSize = 20
