// Iconos
[class^="icono-"], [class*=" icono-"]
	font-family $iconFont
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


// Alineaciones
[class^="icono-"], [class*=" icono-"]
	&.icono-left
		margin-left 0.3em
	&.icono-right
		margin-right 0.3em

// Íconos propiamente dichos
.icono-checkmark:before
	content "\e60a"

.icono-check-alt:before
	content "\e600"

.icono-x:before
	content "\e60b"

.icono-x-altx-alt:before
	content "\e601"

.icono-denied:before
	content "\e62e"

.icono-wrench2:before
	content "\e612"

.icono-cog2:before
	content "\e613"

.icono-mail:before
	content "\e602"

.icono-heart-stroke:before
	content "\e614"

.icono-heart-fill:before
	content "\e615"

.icono-plus-alt:before
	content "\e62f"

.icono-minus-alt:before
	content "\e630"

.icono-award-fill:before
	content "\e616"

.icono-award-stroke:before
	content "\e617"

.icono-microphone:before
	content "\e618"

.icono-headphones2:before
	content "\e619"

.icono-volume:before
	content "\e61a"

.icono-volume-mute3:before
	content "\e61b"

.icono-play2:before
	content "\e61c"

.icono-pause:before
	content "\e61d"

.icono-stop:before
	content "\e61e"

.icono-eject2:before
	content "\e61f"

.icono-first2:before
	content "\e620"

.icono-last2:before
	content "\e621"

.icono-play-alt:before
	content "\e622"

.icono-fullscreen-exit:before
	content "\e623"

.icono-fullscreen:before
	content "\e624"

.icono-at:before
	content "\e603"

.icono-info2:before
	content "\e625"

.icono-left-quote:before
	content "\e604"

.icono-right-quote:before
	content "\e605"

.icono-layers-alt:before
	content "\e606"

.icono-layers:before
	content "\e607"

.icono-chart:before
	content "\e626"

.icono-chart-alt:before
	content "\e627"

.icono-eye:before
	content "\e628"

.icono-user:before
	content "\e608"

.icono-tag-stroke:before
	content "\e629"

.icono-tag-fill:before
	content "\e62a"

.icono-sun-stroke:before
	content "\e60c"

.icono-sun-fill:before
	content "\e60d"

.icono-moon-stroke:before
	content "\e60e"

.icono-moon-fill:before
	content "\e60f"

.icono-rain:before
	content "\e610"

.icono-umbrella:before
	content "\e611"

.icono-star2:before
	content "\e62b"

.icono-map-pin-alt:before
	content "\e609"

.icono-paperclip:before
	content "\e62c"

.icono-alert:before
	content "\f02d"

.icono-beer:before
	content "\f069"

.icono-calendar:before
	content "\f068"

.icono-chevron-down:before
	content "\f0a3"

.icono-chevron-left:before
	content "\f0a4"

.icono-chevron-right:before
	content "\f078"

.icono-chevron-up:before
	content "\f0a2"

.icono-circle-slash:before
	content "\f084"

.icono-clippy:before
	content "\f035"

.icono-comment:before
	content "\f02b"

.icono-comment-discussion:before
	content "\f04f"

.icono-database:before
	content "\f096"

.icono-device-desktop:before
	content "\f27c"

.icono-device-mobile:before
	content "\f038"

.icono-file-media:before
	content "\f012"

.icono-file-pdf2:before
	content "\f014"

.icono-gear:before
	content "\f02f"

.icono-gift2:before
	content "\f042"

.icono-heart2:before
	content "\2665"

.icono-home:before
	content "\f08d"

.icono-key3:before
	content "\f049"

.icono-law:before
	content "\f0d8"

.icono-light-bulb:before
	content "\f000"

.icono-location3:before
	content "\f060"

.icono-lock2:before
	content "\f06a"

.icono-mail2:before
	content "\f03b"

.icono-mail-read:before
	content "\f03c"

.icono-mark-github:before
	content "\f00a"

.icono-mention:before
	content "\f0be"

.icono-mortar-board:before
	content "\f0d7"

.icono-move-down:before
	content "\f0a8"

.icono-move-left:before
	content "\f074"

.icono-move-right:before
	content "\f0a9"

.icono-move-up:before
	content "\f0a7"

.icono-octoface:before
	content "\f008"

.icono-organization:before
	content "\f037"

.icono-playback-fast-forward:before
	content "\f0bd"

.icono-playback-pause:before
	content "\f0bb"

.icono-playback-play:before
	content "\f0bf"

.icono-playback-rewind:before
	content "\f0bc"

.icono-puzzle:before
	content "\f0c0"

.icono-question2:before
	content "\f02c"

.icono-quote:before
	content "\f063"

.icono-search2:before
	content "\f02e"

.icono-sign-in:before
	content "\f036"

.icono-star:before
	content "\f02a"

.icono-stop3:before
	content "\f08f"

.icono-terminal:before
	content "\f0c8"

.icono-three-bars:before
	content "\f05e"

.icono-trashcan:before
	content "\f0d0"

.icono-home3:before
	content "\e900"

.icono-home2:before
	content "\e901"

.icono-home32:before
	content "\e902"

.icono-office:before
	content "\e903"

.icono-pencil:before
	content "\e905"

.icono-pencil2:before
	content "\e906"

.icono-quill:before
	content "\e907"

.icono-pen:before
	content "\e908"

.icono-blog:before
	content "\e909"

.icono-image:before
	content "\e90d"

.icono-images:before
	content "\e90e"

.icono-camera:before
	content "\e90f"

.icono-headphones:before
	content "\e910"

.icono-music:before
	content "\e911"

.icono-play:before
	content "\e912"

.icono-film:before
	content "\e913"

.icono-video-camera:before
	content "\e914"

.icono-connection:before
	content "\e91b"

.icono-mic:before
	content "\e91e"

.icono-book:before
	content "\e91f"

.icono-books:before
	content "\e920"

.icono-library:before
	content "\e921"

.icono-file-text:before
	content "\e922"

.icono-profile:before
	content "\e923"

.icono-files-empty:before
	content "\e925"

.icono-file-text2:before
	content "\e926"

.icono-file-picture:before
	content "\e927"

.icono-file-music:before
	content "\e928"

.icono-file-play:before
	content "\e929"

.icono-file-video:before
	content "\e92a"

.icono-file-zip:before
	content "\e92b"

.icono-copy:before
	content "\e92c"

.icono-paste:before
	content "\e92d"

.icono-stack:before
	content "\e92e"

.icono-folder:before
	content "\e92f"

.icono-folder-open:before
	content "\e930"

.icono-folder-plus:before
	content "\e931"

.icono-folder-minus:before
	content "\e932"

.icono-folder-download:before
	content "\e933"

.icono-folder-upload:before
	content "\e934"

.icono-price-tag:before
	content "\e935"

.icono-price-tags:before
	content "\e936"

.icono-barcode:before
	content "\e937"

.icono-qrcode:before
	content "\e938"

.icono-cart:before
	content "\e93a"

.icono-coin-dollar:before
	content "\e93b"

.icono-coin-euro:before
	content "\e93c"

.icono-coin-pound:before
	content "\e93d"

.icono-coin-yen:before
	content "\e93e"

.icono-credit-card:before
	content "\e93f"

.icono-calculator:before
	content "\e940"

.icono-phone:before
	content "\e942"

.icono-phone-hang-up:before
	content "\e943"

.icono-address-book:before
	content "\e944"

.icono-envelop:before
	content "\e945"

.icono-pushpin:before
	content "\e946"

.icono-location:before
	content "\e947"

.icono-location2:before
	content "\e948"

.icono-map:before
	content "\e94b"

.icono-map2:before
	content "\e94c"

.icono-calendar2:before
	content "\e953"

.icono-printer:before
	content "\e954"

.icono-display:before
	content "\e956"

.icono-laptop:before
	content "\e957"

.icono-mobile:before
	content "\e958"

.icono-mobile2:before
	content "\e959"

.icono-tablet:before
	content "\e95a"

.icono-box-add:before
	content "\e95e"

.icono-box-remove:before
	content "\e95f"

.icono-download:before
	content "\e960"

.icono-upload:before
	content "\e961"

.icono-floppy-disk:before
	content "\e962"

.icono-database2:before
	content "\e964"

.icono-undo2:before
	content "\e967"

.icono-redo2:before
	content "\e968"

.icono-forward:before
	content "\e969"

.icono-reply:before
	content "\e96a"

.icono-bubble:before
	content "\e96b"

.icono-bubbles:before
	content "\e96c"

.icono-bubbles2:before
	content "\e96d"

.icono-bubble2:before
	content "\e96e"

.icono-bubbles3:before
	content "\e96f"

.icono-bubbles4:before
	content "\e970"

.icono-user2:before
	content "\e971"

.icono-users:before
	content "\e972"

.icono-user-plus:before
	content "\e973"

.icono-user-minus:before
	content "\e974"

.icono-user-check:before
	content "\e975"

.icono-user-tie:before
	content "\e976"

.icono-quotes-left:before
	content "\e977"

.icono-quotes-right:before
	content "\e978"

.icono-spinner:before
	content "\e97a"

.icono-spinner2:before
	content "\e97b"

.icono-spinner3:before
	content "\e97c"

.icono-spinner6:before
	content "\e97f"

.icono-spinner9:before
	content "\e982"

.icono-spinner10:before
	content "\e983"

.icono-spinner11:before
	content "\e984"

.icono-binoculars:before
	content "\e985"

.icono-search:before
	content "\e986"

.icono-zoom-in:before
	content "\e987"

.icono-zoom-out:before
	content "\e988"

.icono-enlarge:before
	content "\e989"

.icono-shrink:before
	content "\e98a"

.icono-enlarge2:before
	content "\e98b"

.icono-shrink2:before
	content "\e98c"

.icono-key:before
	content "\e98d"

.icono-key2:before
	content "\e98e"

.icono-lock:before
	content "\e98f"

.icono-unlocked:before
	content "\e990"

.icono-wrench:before
	content "\e991"

.icono-equalizer:before
	content "\e992"

.icono-equalizer2:before
	content "\e993"

.icono-cog:before
	content "\e994"

.icono-cogs:before
	content "\e995"

.icono-hammer:before
	content "\e996"

.icono-magic-wand:before
	content "\e997"

.icono-stats-dots:before
	content "\e99b"

.icono-stats-bars:before
	content "\e99c"

.icono-stats-bars2:before
	content "\e99d"

.icono-trophy:before
	content "\e99e"

.icono-gift:before
	content "\e99f"

.icono-glass:before
	content "\e9a0"

.icono-glass2:before
	content "\e9a1"

.icono-mug:before
	content "\e9a2"

.icono-spoon-knife:before
	content "\e9a3"

.icono-leaf:before
	content "\e9a4"

.icono-hammer2:before
	content "\e9a8"

.icono-fire:before
	content "\e9a9"

.icono-lab:before
	content "\e9aa"

.icono-magnet:before
	content "\e9ab"

.icono-bin:before
	content "\e9ac"

.icono-bin2:before
	content "\e9ad"

.icono-briefcase:before
	content "\e9ae"

.icono-airplane:before
	content "\e9af"

.icono-truck:before
	content "\e9b0"

.icono-road:before
	content "\e9b1"

.icono-accessibility:before
	content "\e9b2"

.icono-target:before
	content "\e9b3"

.icono-shield:before
	content "\e9b4"

.icono-power:before
	content "\e9b5"

.icono-switch:before
	content "\e9b6"

.icono-power-cord:before
	content "\e9b7"

.icono-clipboard:before
	content "\e9b8"

.icono-list-numbered:before
	content "\e9b9"

.icono-list:before
	content "\e9ba"

.icono-list2:before
	content "\e9bb"

.icono-tree:before
	content "\e9bc"

.icono-menu:before
	content "\e9bd"

.icono-cloud:before
	content "\e9c1"

.icono-cloud-download:before
	content "\e9c2"

.icono-cloud-upload:before
	content "\e9c3"

.icono-cloud-check:before
	content "\e9c4"

.icono-sphere:before
	content "\e9c9"

.icono-earth:before
	content "\e9ca"

.icono-link:before
	content "\e9cb"

.icono-attachment:before
	content "\e9cd"

.icono-eye-minus:before
	content "\e9d0"

.icono-eye-blocked:before
	content "\e9d1"

.icono-bookmark:before
	content "\e9d2"

.icono-bookmarks:before
	content "\e9d3"

.icono-sun:before
	content "\e9d4"

.icono-contrast:before
	content "\e9d5"

.icono-brightness-contrast:before
	content "\e9d6"

.icono-star-empty:before
	content "\e9d7"

.icono-star-half:before
	content "\e9d8"

.icono-star-full:before
	content "\e9d9"

.icono-heart:before
	content "\e9da"

.icono-heart-broken:before
	content "\e9db"

.icono-man:before
	content "\e9dc"

.icono-woman:before
	content "\e9dd"

.icono-man-woman:before
	content "\e9de"

.icono-happy:before
	content "\e9df"

.icono-happy2:before
	content "\e9e0"

.icono-smile:before
	content "\e9e1"

.icono-smile2:before
	content "\e9e2"

.icono-tongue:before
	content "\e9e3"

.icono-tongue2:before
	content "\e9e4"

.icono-sad:before
	content "\e9e5"

.icono-sad2:before
	content "\e9e6"

.icono-wink:before
	content "\e9e7"

.icono-wink2:before
	content "\e9e8"

.icono-grin:before
	content "\e9e9"

.icono-grin2:before
	content "\e9ea"

.icono-cool:before
	content "\e9eb"

.icono-cool2:before
	content "\e9ec"

.icono-angry:before
	content "\e9ed"

.icono-angry2:before
	content "\e9ee"

.icono-evil:before
	content "\e9ef"

.icono-evil2:before
	content "\e9f0"

.icono-shocked:before
	content "\e9f1"

.icono-shocked2:before
	content "\e9f2"

.icono-baffled:before
	content "\e9f3"

.icono-baffled2:before
	content "\e9f4"

.icono-confused:before
	content "\e9f5"

.icono-confused2:before
	content "\e9f6"

.icono-neutral:before
	content "\e9f7"

.icono-neutral2:before
	content "\e9f8"

.icono-wondering:before
	content "\e9fb"

.icono-wondering2:before
	content "\e9fc"

.icono-sleepy:before
	content "\e9fd"

.icono-sleepy2:before
	content "\e9fe"

.icono-frustrated:before
	content "\e9ff"

.icono-frustrated2:before
	content "\ea00"

.icono-crying:before
	content "\ea01"

.icono-crying2:before
	content "\ea02"

.icono-warning:before
	content "\ea07"

.icono-notification:before
	content "\ea08"

.icono-question:before
	content "\ea09"

.icono-info:before
	content "\ea0c"

.icono-cross:before
	content "\ea0f"

.icono-checkmark2:before
	content "\ea10"

.icono-checkmark22:before
	content "\ea11"

.icono-enter:before
	content "\ea13"

.icono-exit:before
	content "\ea14"

.icono-play3:before
	content "\ea1c"

.icono-pause2:before
	content "\ea1d"

.icono-stop2:before
	content "\ea1e"

.icono-backward2:before
	content "\ea1f"

.icono-forward3:before
	content "\ea20"

.icono-first:before
	content "\ea21"

.icono-last:before
	content "\ea22"

.icono-previous2:before
	content "\ea23"

.icono-next2:before
	content "\ea24"

.icono-eject:before
	content "\ea25"

.icono-volume-high:before
	content "\ea26"

.icono-volume-medium:before
	content "\ea27"

.icono-volume-low:before
	content "\ea28"

.icono-volume-mute:before
	content "\ea29"

.icono-volume-mute2:before
	content "\ea2a"

.icono-volume-increase:before
	content "\ea2b"

.icono-volume-decrease:before
	content "\ea2c"

.icono-arrow-up-left:before
	content "\ea31"

.icono-arrow-up:before
	content "\ea32"

.icono-arrow-up-right:before
	content "\ea33"

.icono-arrow-right:before
	content "\ea34"

.icono-arrow-down-right:before
	content "\ea35"

.icono-arrow-down:before
	content "\ea36"

.icono-arrow-down-left:before
	content "\ea37"

.icono-arrow-left:before
	content "\ea38"

.icono-circle-up:before
	content "\ea41"

.icono-circle-right:before
	content "\ea42"

.icono-circle-down:before
	content "\ea43"

.icono-circle-left:before
	content "\ea44"

.icono-shift:before
	content "\ea4f"

.icono-checkbox-checked:before
	content "\ea52"

.icono-checkbox-unchecked:before
	content "\ea53"

.icono-radio-checked:before
	content "\ea54"

.icono-radio-checked2:before
	content "\ea55"

.icono-radio-unchecked:before
	content "\ea56"

.icono-paragraph-left:before
	content "\ea77"

.icono-paragraph-center:before
	content "\ea78"

.icono-paragraph-right:before
	content "\ea79"

.icono-paragraph-justify:before
	content "\ea7a"

.icono-indent-increase:before
	content "\ea7b"

.icono-indent-decrease:before
	content "\ea7c"

.icono-mail22:before
	content "\ea84"

.icono-mail3:before
	content "\ea85"

.icono-mail4:before
	content "\ea86"

.icono-google:before
	content "\ea87"

.icono-google-plus:before
	content "\ea88"

.icono-google-plus2:before
	content "\ea89"

.icono-google-plus3:before
	content "\ea8a"

.icono-google-drive:before
	content "\ea8b"

.icono-facebook:before
	content "\ea8c"

.icono-facebook2:before
	content "\ea8d"

.icono-facebook3:before
	content "\ea8e"

.icono-twitter:before
	content "\ea91"

.icono-twitter2:before
	content "\ea92"

.icono-twitter3:before
	content "\ea93"

.icono-feed2:before
	content "\ea94"

.icono-feed3:before
	content "\ea95"

.icono-feed4:before
	content "\ea96"

.icono-youtube:before
	content "\ea97"

.icono-youtube2:before
	content "\ea98"

.icono-youtube3:before
	content "\ea99"

.icono-youtube4:before
	content "\ea9a"

.icono-vimeo:before
	content "\ea9c"

.icono-vimeo2:before
	content "\ea9d"

.icono-vimeo3:before
	content "\ea9e"

.icono-picassa:before
	content "\eaa4"

.icono-picassa2:before
	content "\eaa5"

.icono-dropbox:before
	content "\eaaf"

.icono-github3:before
	content "\eab3"

.icono-github5:before
	content "\eab5"

.icono-wordpress:before
	content "\eab6"

.icono-yahoo:before
	content "\eabd"

.icono-tux:before
	content "\eabe"

.icono-apple:before
	content "\eabf"

.icono-finder:before
	content "\eac0"

.icono-android:before
	content "\eac1"

.icono-windows8:before
	content "\eac3"

.icono-soundcloud:before
	content "\eac4"

.icono-soundcloud2:before
	content "\eac5"

.icono-skype:before
	content "\eac6"

.icono-reddit:before
	content "\eac7"

.icono-linkedin:before
	content "\eac8"

.icono-linkedin2:before
	content "\eac9"

.icono-pinterest:before
	content "\ead0"

.icono-pinterest2:before
	content "\ead1"

.icono-file-pdf:before
	content "\eada"

.icono-file-word:before
	content "\eadc"

.icono-file-excel:before
	content "\eadd"

.icono-html5:before
	content "\eadf"

.icono-html52:before
	content "\eae0"

.icono-css3:before
	content "\eae1"

.icono-svg:before
	content "\eae3"

.icono-codepen:before
	content "\eae4"

.icono-chrome:before
	content "\eae5"

.icono-firefox:before
	content "\eae6"

.icono-IE:before
	content "\eae7"

.icono-opera:before
	content "\eae8"

.icono-safari:before
	content "\eae9"

.icono-IcoMoon:before
	content "\eaea"

.icono-search3:before
	content "\e62d"